<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="Pack1.CustomTestListener"></listener>
	</listeners>
	<test name="Test1">
		<classes>
			<class name="Pack1.MytestListeners" />
		</classes>
	</test> <!-- Test -->
	<test name="Test2">
		<classes>
			<class name="Pack1.GmailTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
